{% extends "layout.html" %}
{% block content %}
    {% for worker in workers %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Created by: {{ worker.user.username }}</a>
            </div>
            <h2><a class="article-title" href="{{ url_for('edit_worker', worker_id=worker.id) }}">{{ worker.name }} - {{ worker.status }}</a></h2>
            <p class="article-content">Filament Color: {{ worker.filamentColor }}</p>
            <p class="article-content">Filament Type: {{ worker.filamentMaterial }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content%}